<header th:insert="main/header :: header"></header>
<div th:each="edi : ${user}">
<h1>Edit user (<span th:text="${edi.userName}" />)</h1>
  <form th:action = "@{/user/} + ${edi.id} + @{/edit}" method="post">
    User Name: <input type="text" name="userName" th:value="${edi.userName}" />
    <div style="border-bottom: black solid 1px;margin: 5px 0px;"></div>
    User Password: <input type="text" name="userPassword" th:value="${edi.password}" />
    <div style="border-bottom: black solid 1px;margin: 5px 0px;"></div>
    First Name: <input type="text" name="firstName" th:value="${edi.firstName}" />
    <div style="border-bottom: black solid 1px;margin: 5px 0px;"></div>
    Last Name: <input type="text" name="lastName" th:value="${edi.lastName}" />
    <div style="border-bottom: black solid 1px;margin: 5px 0px;"></div>
    Status:
    <select name="status">
      <option value="0">Active</option>
      <option value="1">Inactive</option>
    </select>
    <div style="border-bottom: black solid 1px;margin: 5px 0px;"></div>
    <input type="hidden" th:value="${edi.id}" />
    <input type="submit" value="Edit" />
  </form>
</div>
<footer th:insert="main/footer :: footer"></footer>
